a[href="/i/premium_sign_up"],
a[href*="/communities"],
a[href="/i/verified-orgs-signup"],
a[href="/i/communitynotes"],
div[data-testid="sidebarColumn"],
div[data-testid="DMDrawer"]
{
  display: none;
}

header[role="banner"] {
  position: absolute;
  width: 116px;
}

div[data-testid="primaryColumn"] {
  height: 100%;
  margin: auto;
}

main[role="main"] > :first-child {
  width: 100%;
}

