button[data-testid="reply"] > * > :nth-child(2) > span > span:has(:not(:empty))::before,
button[data-testid="like"] > * > :nth-child(2) > span > span:has(:not(:empty))::before {
  content: "•";
  color: #6F7377;
  position: absolute;
  left: 6px;
  right: 0;
  text-align: left;
}

button[data-testid="reply"] > * > :nth-child(2) > span > span:has(:not(:empty)),
button[data-testid="like"] > * > :nth-child(2) > span > span:has(:not(:empty)) {
  color: transparent;
}

a[href="/i/premium_sign_up"],
a[href*="/communities"],
a[href="/i/verified-orgs-signup"],
a[href="/i/communitynotes"],
button[data-testid="retweet"] > * > :nth-child(2),
button[data-testid="bookmark"] > * > :nth-child(2),
a[href$="/home"],
a[href$="/analytics"],
div[data-testid="sidebarColumn"],
div[data-testid="DMDrawer"]
{
  display: none;
}

header[role="banner"] {
  position: absolute;
  width: 116px;
}

div[data-testid="primaryColumn"] {
  height: 100%;
  margin: auto;
}

main[role="main"] > :first-child {
  width: 100%;
}

/* grok */
div:has(> a[href="/i/grok/history"]) {
    padding-left: 116px;
}

