/* transparent video description until hover */
#above-the-fold > *:not(#title) {
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

#above-the-fold > *:not(#title):hover {
  opacity: 1;
}

#content #masthead-container #center {
  margin: auto;
}

/* HIDE */

/* top panel, except for search */
#content #masthead-container #start,
#content #masthead-container #end,
#content #masthead-container #voice-search-button,

/*sub count*/
#owner-sub-count,

/* menu below a video */
ytd-watch-metadata #menu,

/* comments */
ytd-comments,

/* homepage feed */
ytd-browse[page-subtype="home"] #contents,

/* shorts sidebar */
#related,
a[title="Shorts"],
ytd-mini-guide-entry-renderer[aria-label="Shorts"],
ytd-guide-entry-renderer[title="Shorts"],
ytd-rich-section-renderer,

/* top filter chips on homepage and subscriptions */
ytd-feed-filter-chip-bar-renderer,
yt-chip-cloud-renderer,

/* notifications */
ytd-popup-container {
  display: none !important;
}

#primary {
  margin: 0 auto !important;
  float: none !important;
  display: block !important;
}

#below {
  width: 80%;
  margin: 0 auto;
}

